In [1]:
import pandas as pd

In [46]:
short_movies = pd.read_csv("E:/Data Scientist/8. Regular Expression in Python/short_movies.csv")
wikipedia = pd.read_csv("E:/Data Scientist/8. Regular Expression in Python/wikipedia.csv")
tweets = pd.read_csv("E:/Data Scientist/8. Regular Expression in Python/short_tweets.csv")

In [3]:
short_movies.head()

,id,tag,html,sent id,text,target
0,0,cv000,29590,0,films adapted from comic books have had plenty...,pos
1,0,cv000,29590,1,"for starters , it was created by alan moore ( ...",pos
2,0,cv000,29590,2,to say moore and campbell thoroughly researche...,pos
3,0,cv000,29590,3,"the book ( or "" graphic novel , "" if you will ...",pos
4,0,cv000,29590,4,"in other words , don't dismiss this film becau...",pos

In [10]:
movie = "$I supposed that coming from MTV Films I should expect no less$"

movie_lower = movie.lower()
print(movie_lower)

$i supposed that coming from mtv films i should expect no less$

In [12]:
# Remove specified character and print the result
movie_no_sign = movie_lower.strip('$')
print(movie_no_sign)

i supposed that coming from mtv films i should expect no less

In [13]:
# Split the string into substrings and print the result
movie_split = movie_no_sign.split()
print(movie_split)

['i', 'supposed', 'that', 'coming', 'from', 'mtv', 'films', 'i', 'should', 'expect', 'no', 'less']

In [14]:
word_root = movie_split[1][1]
print(word_root)

u

In [15]:
movie = "the film,however,is all good<\i>"

# Remove tags happening at the end and print results
movie_tag = movie.rstrip('<\i>')
print(movie_tag)

the film,however,is all good

In [16]:
# Split the string using commas and print results
movie_no_comma = movie_tag.split(',')
print(movie_no_comma)

['the film', 'however', 'is all good']

In [17]:
# Join back together and print results
movie_join = ' '.join(movie_no_comma)
print(movie_join)

the film however is all good

In [18]:
file = "mtv films election, a high school comedy, is a current example from there, director steven spielberg wastes no time, taking us into the water on a midnight swim"

In [19]:
# Split string at line boundaries
file_split = file.splitlines()

# Print file_split
print(file_split)

# Complete for-loop to split by commas
for substring in file_split:
    substring_split = substring.split(',')
    print(substring_split)

['mtv films election, a high school comedy, is a current example from there, director steven spielberg wastes no time, taking us into the water on a midnight swim']
['mtv films election', ' a high school comedy', ' is a current example from there', ' director steven spielberg wastes no time', ' taking us into the water on a midnight swim']

In [21]:
wikipedia.head()

,Unnamed: 0,tool,description
0,0,Natural Language Toolkit,suite of libraries and programs for symbolic a...
1,1,TextBlob,Python library for processing textual data. It...
2,2,Gensim,Gensim is a robust open-source vector space mo...
3,3,artificial intelligence,"In computer science, artificial intelligence (..."

In [22]:
wikipedia_article = "In computer science, artificial intelligence (AI), sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by humans and animals."

In [23]:
# Assign the substrings to the variables
first_pos = wikipedia_article[3:19].lower()
second_pos = wikipedia_article[21:44].lower()

In [26]:
my_list = []

my_list.append("The tool {} is used in {}")

In [27]:

# Define string with rearranged placeholders
my_list.append("The tool {1} is used in {0}")

In [28]:

# Use format to print strings
for my_string in my_list:
  	print(my_string.format(first_pos, second_pos))

The tool computer science is used in artificial intelligence
The tool artificial intelligence is used in computer science

In [30]:
courses = ['artificial intelligence', 'neural networks']

# Create a dictionary
plan = {
  		"field": courses[0],
        "tool": courses[1]
        }

In [31]:
# Complete the placeholders accessing elements of field and tool keys in the data dictionary
my_message = "If you are interested in {data[field]}, you can take the course related to {data[tool]}"

# Use the plan dictionary to replace placeholders
print(my_message.format(data=plan))

If you are interested in artificial intelligence, you can take the course related to neural networks

In [32]:
# Import datetime 
from datetime import datetime
# Assign date to get_date
get_date = datetime.now()

# Add named placeholders with format specifiers
message = "Good morning. Today is {today:%B %d, %Y}. It's {today:%H:%M} ... time to work!"

# Use the format method replacing the placeholder with get_date
print(message.format(today=get_date))

Good morning. Today is October 20, 2024. It's 18:53 ... time to work!

In [34]:
from string import Template

In [35]:
sentiment_analysis = "@robot9! @robot4& I have a good feeling that the show isgoing to be amazing! @robot9$ @robot7%"

# Import the re module
import re

# Write the regex
regex = r"@robot\d\W"

# Find all matches of regex
print(re.findall(regex, sentiment_analysis))

['@robot9!', '@robot4&', '@robot9$', '@robot7%']

In [39]:
sentiment_analysis = "Unfortunately one of those moments wasn't a giant squid monster. User_mentions:2, likes: 9, number of retweets: 7"

# Write a regex to obtain user mentions
print(re.findall(r"User_mentions:\d", sentiment_analysis))

['User_mentions:2']

In [40]:
# Write a regex to obtain number of likes
print(re.findall(r"likes:\s\d", sentiment_analysis))

['likes: 9']

In [41]:
# Write a regex to obtain number of retweets
print(re.findall(r"number\sof\sretweets:\s\d", sentiment_analysis))

['number of retweets: 7']

In [43]:
# Write a regex to match pattern separating sentences
regex_sentence = r"\W\dbreak\W"

# Replace the regex_sentence with a space
sentiment_sub = re.sub(regex_sentence, " ", sentiment_analysis)

# Write a regex to match pattern separating words
regex_words = r"\Wnew\w"

# Replace the regex_words and print the result
sentiment_final = re.sub(regex_words, " ", sentiment_sub)
print(sentiment_final)

Unfortunately one of those moments wasn't a giant squid monster. User_mentions:2, likes: 9, number of retweets: 7

In [47]:
tweets.head()

,target,id,date,flag,user,text
0,0,1467821085,Mon Apr 06 22:22:26 PDT 2009,NO_QUERY,crzy_cdn_bulas,our duck and chicken are taking wayyy too long...
1,0,1467821338,Mon Apr 06 22:22:30 PDT 2009,NO_QUERY,justnetgirl,Put vacation photos online (They were so cute)...
2,0,1467821455,Mon Apr 06 22:22:32 PDT 2009,NO_QUERY,CiaraRenee,I need a hug
3,0,1467821715,Mon Apr 06 22:22:37 PDT 2009,NO_QUERY,deelau,"@andywana Not sure what they are, only that th..."
4,0,1467822384,Mon Apr 06 22:22:47 PDT 2009,NO_QUERY,Lindsey0920,@oanhLove I hate when that happens...

In [53]:
sentiment_analysis = tweets.iloc[545:548, 4]
print(sentiment_analysis)

545       jess___x
546         Zimily
547    Augustina22
Name: user, dtype: object

In [52]:
# Import re module
import re

for tweet in sentiment_analysis:
	# Write regex to match http links and print out result
	print(re.findall(r"http\S+", tweet))

	# Write regex to match user mentions and print out result
	print(re.findall(r"@\w+", tweet))

[]
[]
[]
[]
[]
[]

In [54]:
sentiment_analysis = "ITS NOT ENOUGH TO SAY THAT IMISS U #MissYou #SoMuch #Friendship #Forever"

# Write a regex matching the hashtag pattern
regex = r"#\w+"

# Replace the regex by an empty string
no_hashtag = re.sub(regex, "", sentiment_analysis)

# Get tokens by splitting text
print(re.split(r"\s+", no_hashtag))

['ITS', 'NOT', 'ENOUGH', 'TO', 'SAY', 'THAT', 'IMISS', 'U', '']